body{
    background-color: beige;
}
.colorestilo{
    color: blue;
}
.fondoazul{
    background-color: blue;
}
.fondoimagen{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.margeninterior{
    padding-top: 20px;
    padding-bottom: 20px;
}
.alinear{
     padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}